	<% @cartsitems.each do |cartsitem| %>
		<tr class="trItem">
			<td>
				<div class="divItemInfo" >
					<%= image_tag(cartsitem.product.thumbnail, class: "imgItem") %>
					<div class="ItemInfoDivText">
						 <p class="ItemInfoText"><%= cartsitem.product.description %></p> 
						<p class="ItemInfoId"><%= cartsitem.product.code %></p>
					</div>
				</div>
			</td>
			<td>
			<%= number_field_tag "", cartsitem.quantity,in: 1...10 ,:class=>'number_field_count'%></td>
			<td><%= label_tag  cartsitem.product.price %>&#8362;</td>
			<td>
			<%= link_to image_tag("x.png"), cart_path(cartsitem),
                    method: :delete, data: { confirm: 'האם אתה בטוח?' } ,:remote=>true,:class=>'delete_button' %> 

                    <!-- cart_path(cartsitem) -->
                    </td>
		</tr>

<% end %>