
<html>
<head>
  <title>Shop</title>
</head>
<body>
<header>
	<h1>SHOPPING BAG</h1>
</header>
<article class="article">
	<table>
	<tr>
		<th id="thItemInfo">Item Information</th>
		<th id="thQty">Qty</th>
		<th id="thPrice">Price</th>
		<th id="thRemove">Remove</th>
	</tr>
	<% @cartsitems.each do |cartsitem| %>
		<tr class="trItem">
			<td>
				<div class="divItemInfo" >
					<%= image_tag(cartsitem.product.thumbnail, class: "imgItem") %>
					<div class="ItemInfoDivText">
						<p class="ItemInfoText"><%= cartsitem.product.description %></p>
						<p class="ItemInfoId"><%= cartsitem.product.code %></p>
					</div>
				</div>
			</td>
			<td><input type="number" style="width:50px"/></td>
			<td><span><%= cartsitem.product.price %></span></td>
			<td><input type="checkbox" checked="checked"  />
			<%= link_to image_tag("x.png"), cart_path(cartsitem),
                    method: :delete, data: { confirm: 'האם אתה בטוח?' } %> </td>
		</tr>

<% end %>
	</table>
	<section>
			<div id="SummaryText">
				<span>Sub Total</span><br/>
				<span>Shopping Charge</span><br/>
				<span class="SummaryToatal">Total</span>
			</div>
			<div id="SummaryDetails">
				<span><%= @SubTotal %></span><br/>
				<span><%= @ShoppingCharge %></span><br/>
				<span  class="SummaryToatal"><%= @Total %></span>
			</div>
	</section>
</article>
<nav class="nav">

 <%= link_to image_tag("GoTo.png"), {controller: 'product'}, :id => "bCheck" %>
 <br/>
	<%= link_to image_tag("Cont.png"), {controller: 'user',action: 'edit'}, :id => "bCont" %>
   


</nav>
</body>
</html>