
<html>
<head>
  <title>Shop</title>
</head>
<body>
<section class="section_1">
<header>
	<h1 id="h1_shopping_bag">SHOPPING BAG</h1>
</header>
<article class="article">
	<table>
	<thead>
	<tr>
		<th id="thItemInfo">Item Information</th>
		<th id="thQty">Qty</th>
		<th id="thPrice">Price</th>
		<th id="thRemove">Remove</th>
	</tr>
	</thead>
		<tbody id="tbody">
			<%= render partial: 'partialindex'  %>
		</tbody>
	</table>
	<section>
			<div id="SummaryText">
				<span>Sub Total<br/>
				Shopping Charge</span><br/>
				<span class="SummaryToatal">Total</span>
			</div>
			<div id="SummaryDetails">
				<span><%= @SubTotal %>&#8362;</span><br/>
				<span><%= @ShoppingCharge %>&#8362;</span><br/>
				<span  class="SummaryToatal"><%= @Total %>&#8362;</span>
			</div>
	</section>
</article>
</section>
<nav class="nav">

 <%= link_to image_tag("GoTo.png"), products_path, :id => "bCheck" %>
 <br/>
	<%= link_to image_tag("Cont.png"),  edit_user_path(@cartsitems[0].cart)  , :id => "bCont" %>
	
 </nav>
</body>
</html>
