<body>
<section class='section_1'>
<header>
	<h1 id='h1_user_checkout'><span id ="span_checkout">Checkout:</span>
	<span>Shopping address</span>
	</h1>
	<spann id="span_please">Please  provide a shipping address so that we can calculate shipping fees and applicable taxes</span>
</header>
<%= form_for @user do |f| %>
<section id="section_details">
  <p id ="p_country">
	<span>Country or region</span><br/>
	<%= f.select :country, options_for_select([["Afghanistan","Afghanistan"],
["Albania","Albania"],["Algeria","Algeria"]] ,:selected =>params[:country])  %>
  </p>
  <p id="p_first_name">
    <%= f.label :first_name  %><br/>
    <%= f.text_field :first_name %>
  </p>
 
  <p id="p_last_name">
    <%= f.label :last_name %><br/>
    <%= f.text_field :last_name %>
  </p>
 <p id="p_address">
 	<%= f.label :"street address" %><br/>
 	<%= f.text_field :address1  %><br/>
 	<%= f.text_field :address2  %>
 </p>
   <p id="p_city">
    <%= f.label :city %><br/>
    <%= f.text_field :city %>
  </p>
    <p id="p_state">
    <%= f.label :state %><br/>
    <%= f.text_field :state %>
  </p>  
  <p id="p_zip">
 
   <label>ZIP code</label><br/>
    <%= f.text_field :zip %>
  </p>
     <p id="p_phone">
    <%= f.label "Phone number" %>
    <%= image_tag("question_mark.png") %><span>This will only be used if there are shipping questions</span><br/>
    <%= telephone_field(:user, :phone) %>

  </p>   
    <p id="p_email">
    <%= f.label "Email address " %>
    <span>We'll email you an order confirmation</span>
     <br/> 
    <%= email_field(:user, :email) %>
  </p>

</section>
</section>
<section id="section_continue">

<p>How do yow like our new checkout</p>
<p>Tell us what yow think</p>
<div id="div_subtotal">
<span id='span_sub_total_text'>SubTotal:</span>
<span id='span_sub_total'><%= @SubTotal %>&#8362;</span><br/>
<span id='span_covered_by'>Covered by </span>
<span id='span_ebay'>eBay Buyer Protection</span>
</div><br/>
<p>Continue to review your order</p>
    <p>
      <%= f.submit "",method: :post,:id=>'button_continue' %>
  </p>
</section>
<% end %>
</body>
