<body>
<section class='section_1'>
<header>
	<h1 id='h1_user_checkout'><span id ="spancheckout">Checkout:</span>
	<span>Shopping address</span>
	</h1>
	<spann id="spanPlease">Please  provide a shipping address so that we can calculate shipping fees and applicable taxes</span>
</header>
<%= form_for @user do |f| %>
<section id="sectiondetails">
  <p id ="pcountry">
	<span>Country or region</span><br/>
	<%= f.select :city, options_for_select([["Afghanistan"],
["Albania"],["Algeria"],["Andorra"],["Angola"],["Antigua and Barbuda"],["Argentina"],["Armenia"],["Aruba"],["Australia"],["Austria"],["Azerbaijan"],
["Iceland"],["India"],["Indonesia"],["Iran"],["Iraq"],["Ireland"],["Israel"],["Italy"]]) %>
  </p>
  <p id="pfname">
    <%= f.label :first_name  %><br/>
    <%= f.text_field :first_name %>
  </p>
 
  <p id="plname">
    <%= f.label :last_name %><br/>
    <%= f.text_field :last_name %>
  </p>
 <p id="paddress">
 	<%= f.label :"street address" %><br/>
 	<%= f.text_field :address1  %><br/>
 	<%= f.text_field :address2  %>
 </p>
   <p id="pcity">
    <%= f.label :city %><br/>
    <%= f.text_field :city %>
  </p>
    <p id="pstate">
    <%= f.label :state %><br/>
    <%= f.text_field :state %>
  </p>  
  <p id="pzip">
 
   <label>ZIP code</label><br/>
    <%= f.text_field :zip %>
  </p>
     <p id="pphone">
    <%= f.label "Phone number" %><img src="/assets/?.png"><!-- <br/> --><span>This will only be used if there are shipping questions</span><br/>
    <%= telephone_field(:user, :phone) %>

  </p>   
    <p id="pemail">
    <%= f.label "Email address " %>
    <span>We'll email you an order confirmation</span>
     <br/> 
    <%= email_field(:user, :email) %>
  </p>

</section>
</section>
<section id="sectioncont">

<p>How do yow like our new checkout</p>
<p>Tell us what yow think</p>
<div id="divsubtotal">
<span id='span_sub_total_text'>SubTotal:</span>
<span id='span_sub_total'><%= @SubTotal %>&#8362;</span><br/>
<span id='span_covered_by'>Covered by </span>
<span id='span_ebay'>eBay Buyer Protection</span>
</div><br/>
<p>Continue to review your order</p>
    <p>
      <%= f.submit "", :type => :image, :src => "/assets/Continue.png",:id=>'button_continue' %>
  </p>
</section>
<% end %>
</body>
